In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vine_table.csv")

In [3]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,R372S58V6D11AT,5.0,1.0,1.0,N,Y

In [4]:
df.count()

review_id            3093869
star_rating          3093861
helpful_votes        3093861
total_votes          3093861
vine                 3093861
verified_purchase    3093861
dtype: int64

In [ ]:
twenty_plus_votes_df =